* {
  margin: 0;
}

:root {
  color-scheme: light dark;

  --background-color: #FFFFFF;
  --primary-text-color: var(--batcave);
  --secondary-text-color: var(--charcoal);
  --tertiary-text-color: var(--battleship);
  --link-color: var(--smurfette);
  --link-hover-color: #0F69FF;
  --visited-link-color: var(--hulk-pants);

  /* Fuji color palette */

  --grey-hair: #F1F1F5;
  --black: #000000;

  --batcave: #232A31;
  --charcoal: #464E56;
  --battleship: #5B636A;

  --marshmallow: #F7F8FF;
  --dirty-seagull: #E0E4E9;
  --pebble: #B9BDC5;

  --smurfette: #188FFF;
  --slurpee: #0C9EF2;

  --hulk-pants: #6D00F6;
  --blurple: #5D5EFF;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background-color: var(--black);
      --primary-text-color: var(--marshmallow);
      --secondary-text-color: var(--dirty-seagull);
      --tertiary-text-color: var(--pebble);
      --link-color: #1DAFFD;
      --link-hover-color: var(--smurfette);
      --visited-link-color: var(--blurple);
  }
}

html {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  height:100%;
}

body {
  background-color: var(--background-color);
  height:100%;
  font-family: 'AvenirNext', 'Helvetica Neue', Helvetica-Neue, helvetica, sans-serif;
  font-weight:300;
  text-rendering:optimizeLegibility;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: table-row;
}

@media screen and (min-width: 720px) {
  .inner {
    margin: 0px auto 0px auto;
    width: 680px !important;
    max-width: 680px;
  }
}

@media screen and (min-width: 501px) and (max-width: 719px) {
  .inner {
    margin: 0px 10px 0px auto;
    width: 480px !important;
  }
}

@media screen and (max-width: 500px) {
  .inner {
    margin: 0px 10px 0px 10px;
    width: 300px !important;
  }
}

a {
  color: var(--link-color);
  transition: color 0.3s ease;
  padding: 1px 1px 0px;
}

a:hover {
  color: var(--link-hover-color);
}

h1 {
//  font-family: AvenirNext, sans-serif;
  font-weight: 300;
  font-size: 34px;
  line-height: 46px;
}

h2 {
//  font-family: AvenirNext, sans-serif;
  font-weight: 600;
}

h3 {
//  font-family: AvenirNext, sans-serif;
  font-weight: 600;
}

h4 {
  font-weight: 300;
}

.date {
  font-family: AvenirNext, sans-serif;
  margin-top:20px;
  margin-bottom:20px;
}

code {
  background: rgb(230,230,230);
  padding: 0px 4px 2px 4px;
//  border-radius: 2px;
//  border-color: rgb(200,200,200);
//  border-width:1px;
//  border-style:solid;
}

ol {
  margin-bottom: 20px;
}

li {
  list-style-type:circle;
  font-weight: 300;
  font-size: 20px;
}