header {
  color: rgba(255,255,255,0.40);

  line-height: 24px;
  width: 100%;
  text-align: center;

  padding-top:20px;
  padding-bottom:20px;

  h1 {
    color: var(--primary-text-color);
    text-transform: uppercase;
    padding: 25px 0 20px;
    margin: 0;

    a {
      color: var(--primary-text-color);
      font-family: AvenirNext-UltraLight, sans-serif;
      transition: color 0.3s ease;
      text-decoration: none;
    }
  }
}

