<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport"/>
    <meta name="description" content="programmer and manager of the chaos"/>
    <title>{{ page.title | default: "dbgrandi.github.io" }}</title>
    <link rel="stylesheet" href="/css/all.css">
  </head>
  <body>
      <div class="wrapper">
          <header>
              <h1><a href="/">David Grandinetti</a></h1>
          </header>
          <div class="container">
              <div class="inner">
                    {{ content }}
              </div>
          </div>
          <footer>
              <div class="social">
                <a href="https://twitter.com/dbgrandi"><img size="128x128" alt="David's Twitter Account" src="/images/twitter-120.png"/></a>
                <a href="https://github.com/dbgrandi"><img size="128x128" alt="David's Github Account" src="/images/github-120.png"/></a>
              </div>
          </footer>
      </div>
  </body>
</html>
